<h3><%=t :about_us%></h3>
<br>
<b>Megin markmið</b><br>
Vera vettvangur fyrir almenning til að skiptast á skoðunum um mál Alþingis og veita þingheimi aðhald með upplýsingaflæði.<br>
<br>
<b>Hugbúnaðarhönnun og forritun</b><br>
Róbert Viðar Bjarnason<br>
<br>
<b>Kynningarstarf</b><br>
Daði Ingólfsson<br>
<br>

