<h3>
Vefsíðan http://www.almannathing.is/ er að reyna að gera Skuggaþing / Opið Beint Lýðræði vefsíðuna að hluta af sinni vefsíðu.  Þetta er því 
miður ekki hægt vegna öryggiskrafna í tengslum við dulkóðun og rafræn skilríki.<br>
<br>
Vinsamlegast smellið á tengil hér að neðan til að heimsækja Skuggaþing / Opið Beint Lýðræði.<br>
<br>
<a href="#" onclick="top.location.href = 'https://beint.lydraedi.is/'">https://beint.lydraedi.is/<a><br>
</h3>